.expanded {
    width: 100%;
    height: 100vh;
}

.iframe {}

/* Estilos para el nav */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav li {
        margin: 5px;
    }
}

/* Estilos para la imagen principal */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    animation: scaleAnimation 2s infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}