.expanded {
    width: 100%;
    height: 100vh;
}



/* Estilos para el nav */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav li {
        margin: 5px;
    }
}

/* Estilos para la imagen principal */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    animation: fadeAnimation 2s infinite alternate;

    clip-path: polygon(0% 15%, 27% 23%, 15% 0%, 85% 0%, 74% 21%, 100% 15%, 100% 85%, 76% 76%, 85% 100%, 15% 100%, 25% 74%, 0% 85%);
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

p {
    text-align: center;
    font-size: 25px;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35px;
}

#dormitorio {
    width: 100%;
    height: 100%;
}

.mi-iframe {
    width: 100%;
    height: 400px;
    border: 2px solid black;
}



@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}